.itemMenu{
    cursor: pointer;
}
.itemMenu:hover{
    color: red;
}
.subItensHeader{
    display: flex;
    width: 100%;
    align-items: center;
}
@media (max-width:600px) {
    .subItensHeader{
        display: block;
    }
}