.compraDeJogadoresHeader{
    padding: 0px 15px;
}
.compraDeJogadoresTitulo{
   text-align: center;
}
.compraDeJogadoresBodyLeft{
    display: flex;
}
.compraDeJogadoresItens{
    margin-right: 10px;
    cursor: pointer;
}
.compraDeJogadoresItens:hover{
    color: darkgray;
}
.compraDeJogadoresBody{
    display: flex;
    justify-content: space-between;
}
.telaDeComprasDeJogadoresTextoCheckgox{
    font-size: 10px;
}
.imgJogadorComprado{
   min-width: 250px;
   min-height: 300px;
}
@media (max-width:800px) {
    .imgJogadorComprado{
        min-width: 50px;
        min-height: 0;
        max-height: 150px;
    }
    .focusStyle{
        transition: 0.3s;
        margin-top: -45px;
    }
   .compraDeJogadoresBody{
     flex-direction: column;
   }
   .compraDeJogadoresHeader{
    padding: 0px 5px;
    margin-bottom: 0px;
   }
   .compraDeJogadoresBodyLeft{
    margin-bottom: 10px;
   }
}