*{
    margin: 0;
}
.campinho{
    padding:30px;
    margin-top: 70px;
}
.cartaImg{
    width: 50px;
    cursor: grabbing;
}
.carta{
    display: flex;
}
.cartaBody{
    display: flex;
    flex-direction: column;
}
.imgPais{
   width: 20px;
   margin: 3px 0;
}
.imgTime{
  width: 20px;
}
.posicao{
  font-size: 9px;
}
.overall{

}
.cartaNome{
    font-size: 10px;
    width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.cartaContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.containerDeEscalacao{
    width: 35%;
    background-image: url('https://app.globoesporte.globo.com/templates/listerine-cartola/images/campinho-sem-borda.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 100%;
    padding: 30px;
}
.modalAtualizarBody{
    padding: 3%;
}
.campinhoBody{
    display: flex;
}
.atacantesContainer{
    display: flex;
    justify-content: center;
}
.atacantes{
    display: flex;
 justify-content: center;
}
.meiasContainer{
    display: flex;
    justify-content: center;
}
.meias{
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 200px;
}
.pontas{
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.volantes{
    display: flex;
    justify-content: center;
    margin: auto;
}
.laterais{
    display: flex;
    justify-content: space-between;
}
.zaga{
    display: flex;
    justify-content: space-around;
    margin: auto;
}
.goleiro{
    display: flex;
   justify-content: center;
    
}

.reservas{
    display: flex;
    height: 160px;
    flex-wrap: wrap;
}
.reservasContainer{
    height: 120px;
}
.cartaNome{
    text-align: center;
    color: blue;
    text-shadow: 1px 1px 0.5px white;
}
.tabelaDeJogadoresBtnContainer{
    display: flex;
    justify-content: flex-end;
    height: 35px;
    margin-bottom: 10px;
}
.tabelaDeJogadoresBtnGrupo{
    display: flex;
}
.TabsMobile{
    display: none;
}
@media (max-width:700px) {
    .TabsDesctop{
        display: none;
    }
    .TabsMobile{
        display: block;
    }
    .campinho{
        padding: 0px;
    }
    .campinhoBody{
        display: flex;
        flex-direction: column;
        border: none;
    }
    .btnHandleCarta{
        background-color: red;
        height: 40px;
        z-index: 6;
    }
    .containerDeEscalacao{
        width: 80%;
        min-height: 70vh;
        margin: auto;
    }
    .meiasContainer{
        margin: auto;
    }
    .meias{
        gap: 60px;
        width: 80%;
        display: flex;
        justify-content: center;
    }
    .cartaNome{
        font-size: 10px;
        max-width: 70px;
        word-wrap: break-word;
        color: black;
    }
    .cartaImg{
        width: 30px;
    
    }
    .imgPais{
        width: 15px;
        margin: 3px 0;
     }
     .imgTime{
       width: 15px;
     }
     .posicao{
       font-size: 7px;
     }
     .overall{
        font-size: 12px;
     }
     .MuiBox-root .css-19kzrtu{
        padding: 0px;
        margin: 0px;
     }
    .dadosDoUsuario{
       display: flex;
       flex-direction: column;
    }
}















